.title
{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: lightgrey;
}
.lists-container
{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-top: rgb(0, 132, 0);
    border-bottom: rgb(0, 132, 0);
    border-left-width: 0px;
    border-right-width:0px;
    border-top-width:10px ;
    border-bottom-width:10px ;
    border-style: solid;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.15);
    border-radius: 5px;
}
.todo
{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.input
{
    border: none;
    margin-left: 1px;
    height: 30px;
    border-radius: 3px;
    flex:1;
    padding-left:10px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
}
.check
{
    width: 50px;
}
.todo:has(.check:checked)
{
    background-color: lightgrey;
    order:1;
    text-decoration: line-through;
    font-weight: 700;
}